body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(249, 247, 247, 0.63), rgba(249, 247, 247, 0.68)),
  url('../images/studio5.png') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow-x: hidden;
  padding-top: 100px; /* Adds space below navbar */
}

/* Reduce the background image visibility height */
@media (min-width: 768px) {
  body {
    background-size: 100% auto;
    background-position: center 30px; /* pushes image slightly down */
  }
}

/* Intro Section */
.intro-section {
  margin-top: 30px;
}

.intro-section img,
.exhibition-section img {
  border-radius: 20px;
  transition: transform 0.4s ease;
  max-height: 580px;       /* Smaller image height */
  object-fit: cover;
}

.intro-section img:hover,
.exhibition-section img:hover {
  transform: scale(1.03);
}

/* Cards */
.card {
  border: none;
  transition: all 0.3s ease;
  border-radius: 15px;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Glass Modal */
.glass-modal {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
